<html>
<head>
    <title>Create Cat</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Create Cat</h1>
    <nav>
        <button onclick="window.location.href='/ui'">Back</button>
        <button onclick="window.location.href = '/logout'">Logout</button>
    </nav>  
    <form action="/cat" method="post" id="update" class="container">
        <label for="Name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="Name" required>

        <label for="gender"><b>Gender</b></label>
        <select name="Gender">
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
        </select>

        <label for="Age"><b>Age</b></label>
        <input type="number" value="0" placeholder="Enter Age" name="Age" >

        <label for="Color"><b>Color</b></label>
        <input type="text" placeholder="Enter Color" name="Color" >

        <label for="Weight"><b>Weight</b></label>
        <input type="text" value="0" placeholder="Enter Weight" name="Weight" >

        <label for="ImgLink"><b>Image</b></label>
        <input type="text" placeholder="Link to the Image" name="ImgLink" >


        <input type="submit" value="Create Cat"> 
        <hr>
        
    </form>

</body>
</html>